@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'league spartan';
    src: url('/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf');
}

*{
    font-family: 'league spartan';
}


